# Virtual environments
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp

# LaTeX aux files
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.bbl
*.blg
*.out
*.toc
literature/Thesis Roadmap Pruning FDNs for Speed.pdf
