# Virtual environments
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp

# LaTeX aux files
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.bbl
*.blg
*.out
*.toc
literature/Thesis Roadmap Pruning FDNs for Speed.pdf
writeup/initialrep/init.fdb_latexmk
writeup/initialrep/init.fdb_latexmk
writeup/initialrep/init.fls
writeup/initialrep/init.fls
writeup/initialrep/init3.tex
writeup/initialrep/PlotNeuralNet/
writeup/initialrep/init3.pdf
writeup/initialrep/init2.tex
writeup/initialrep/init2.pdf
writeup/initialrep/init.tex
writeup/initialrep/init.synctex.gz
